<script type="text/template" id="details_container">
  <h1>Weather Details</h1>
  <div><%=view%>
  <a href="/#">Enter a new zip</a>
</script>

<script type="text/template" id="details_error">
  <div>yo you got and error</div>
</script>

<script type="text/template" id="details_success">
  <h1>Showing details for Zip: <%=zip%></h1>
  <div id="ZipResults">
  <br>
  <br>
  <a href=<%=zipUrl%> target="_blank">See Json</a>
</script>

<script type="text/template" id="details_loading">
  Loading...
</script>