<style>
  .home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
      180deg,
      #020024 0%,
      #090979 35%,
      #00d4ff 100%
    );
  }

  .home__title {
    color: #fdb813;
    font-size: 42px;
    font-family: sans-serif;
    margin-bottom: 32px;
  }

  .home__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 3px 4px 15px rgb(0 0 0 / 50%);
    background-color: rgba(255, 255, 255, 0.5);
  }
  .home__input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
  }
  .home__label {
    color: #333;
    font-size: 24px;
    padding-bottom: 16px;
  }
</style>

<script type="text/template" id="homeTemplate">
  <div class="home__container">
    <h1 class='home__title'>Weather Scout</h1>
    <div class='home__card'>
      <div class='home__label'>Find Your Weather</div>
      <div id="input" class='home__input'></div>
    </div>
  </div>
</script>
